/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap";

.fa {
  font-family: FontAwesome !important;
}

.inside {
  width: 65%;
  .data {
    padding-top: 10px;
    p {
      width: 98%;
      background-color: #428bca;
      color: #ffffff;
      text-align: center;
      padding: 10px;
      font-size: 20px;
      border-radius: 5px;
    }
  }
}

.navbar {
  margin-bottom: 0px !important;
}