/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap";
* {
  font-family: 'Open Sans' !important;
}

.fa {
  font-family: FontAwesome !important;
}

.navbar-brand i {
  color: #428bca;
}

.inside {
  width: 65%;
  .data {
    padding-top: 10px;
    margin-top: 20px;
    p.user {
      width: 98%;
      background-color: #428bca;
      color: #ffffff;
      text-align: center;
      padding: 10px;
      font-size: 20px;
      border-radius: 5px;
    }
    .head {
      color: #636363;
      width: 80%;
      margin-left: 10px;
      text-align: left;
      font-size: 20px;
    }
  }
}

.navbar {
  margin-bottom: 0px !important;
}

.link {
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
}

.clocklink {
  font-size: 20px;
}