<nav class="navbar navbar-default navbar-inverse navbar-static-top" role="navigation">
  <div class="head">
    <h1><a href="/" class="clocklink"><i class="fa fa-clock-o"></i></a> Timeclock</h1>
  </div>
</nav>